{% extends 'exercises/base.html' %}
{% block body_block %}
<div>
  <h2 class="sub-header">Exercises for {{mission.name}}</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Unit</th>
          <th>Title</th>
          <th>Description</th>
          <th>Videos</th>
          <th>Prerequisites</th>
          <th>Mission</th>
          <th>CCSS</th>
        </tr>
      </thead>
      <tbody>
        {% for skill in exercises %}
        <tr>
          <td>{{ skill.unit.name }}</td>
          <td><a href="{{skill.exercise.ka_url}}" target="_blank">{{skill.exercise.title}}</a></td>
          <td>{{ skill.exercise.description }}</td>
          <td>
              {% if skill.videos%}
                  {% for rv in skill.videos %}
                    <a href="{{rv.videoid.ka_url}}">{{ rv.videoid.title }}</a><br/>
                  {% endfor %}
              {% endif %}
          </td>
          <td>
              {% if skill.prerequisites %}
                  {% for pr in skill.prerequisites %}
                    <a href="/exercises/{{pr.exercise.name}}">{{ pr.exercise.title }}</a><br/>
                  {% endfor %}
              {% endif %}
          </td>
          <td></td>
          <td>
              {% if skill.cc %}
                  {% for stand in skill.cc %}
                      <a href="#">{{ stand.standard.standard }}</a><br/>
                  {% endfor %}
              {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div><!--./table-responsive-->
</div><!--./main-->
{% endblock %}
